:root {
  --color-error: var(--color-red-400);
  --color-global-bg: var(--color-gray-200);
  --color-global-text: var(--color-gray-50);
}

:root.dark {
  --color-error: var(--color-red-400);
  --color-global-bg: var(--color-gray-900);
  --color-global-text: var(--color-gray-50);
}
