# Set the email address that should be used to contact you if there's a problem with your TLS
# certificates.
{
	email your@email.com
}

domain.com {
    encode gzip

    handle /api/* {
        @spaRequests host domain.com
        reverse_proxy @spaRequests localhost:5000
    }

    handle {
        root * /var/www/okane/Client
        try_files {path} /index.html
        file_server
    }
}
