:root {
  --color-black: #121212;
  --color-white: #F8F8F8;

  --color-gray-100: #E7E7E7;
  --color-gray-200: #D1D1D1;
  --color-gray-300: #B0B0B0;
  --color-gray-400: #888888;
  --color-gray-500: #6D6D6D;
  --color-gray-600: #5D5D5D;
  --color-gray-700: #4F4F4F;
  --color-gray-800: #454545;
  --color-gray-900: #343434;

  --color-green-100: #d0fbe6;
  --color-green-200: #a4f6d1;
  --color-green-300: #6aebba;
  --color-green-400: #2fd89c;
  --color-green-500: #0abf85;
  --color-green-600: #00b27d;
  --color-green-700: #007c5b;
  --color-green-800: #036248;
  --color-green-900: #04503d;

  --color-red-100: #fecdd3;
  --color-red-200: #fda4af;
  --color-red-300: #fb7185;
  --color-red-400: #f43f5e;
  --color-red-500: #e11d48;
  --color-red-600: #be123c;
  --color-red-700: #9f1239;
  --color-red-800: #881337;
  --color-red-900: #460809;
}
