:root {
  background: var(--color-global-bg);
  color: var(--color-global-text);
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--leading-base);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-lg);
}

button {
  cursor: pointer;
}

body:has([data-disable-document-scroll="true"]) {
  overflow: hidden;
}

a {
  color: var(--color-green-200);

  &:hover {
    color: var(--color-green-400);
  }
}

.bulleted-list {
  list-style-type: disc;
  padding-left: var(--space-md);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
