:root {
  background: var(--color-site-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--leading-base);
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-lg);
}

button {
  cursor: pointer;

  &:disabled {
    color: var(--color-text-disabled);
  }
}

a {
  color: var(--color-link);

  &:hover {
    color: var(--color-link-active);
  }
}

// Prevent scroll when modal is open.
body:has([data-disable-document-scroll="true"]) {
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1s !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
  }
}
